In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/datasets/192638/428508/homeprices.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20220224%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20220224T102043Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=5f0014d92deafa9b6e107e80f8635bb2de606f2bdab8817287943a428e6aaacfe13e4b76ba283e8637675d830bde047f4f41afb7875e87f83398e67c76fb6ac939385317204451cbe65f664c3331ca1d974dcfd1248f00d9d4df0a998b14886e7783e36a2244fa728dd41350da6782f19d2688692f27b3e5b3927511eabf2d109efbf8d80e7ecb68771fa79ce8464061213a9bc8b2b90d79105a91b84ccff96baef7ad57e47d50567bd567bfb78f253f29746876ea9d49ca4fc00c6517eaa674c618e641c42533446a0dabd13060f1599ef7e15574d46057a687b71ef2a6285fd9c1101448c99786b4fbf0069074f3c79307bad5dc052d066a4ba1c8e183b58e')

In [5]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [7]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms) # clean your data, Data Preprocessing: Fill NA values with median value of a column
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [15]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

"""
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(df[['area','bedrooms','age']], df.price)
"""

''

In [9]:
reg.coef_

"""
coef_array of shape (n_features, ) or (n_targets, n_features)
Estimated coefficients for the linear regression problem. 
If multiple targets are passed during the fit (y 2D), this is a 2D array of shape (n_targets, n_features), 
while if only one target is passed, this is a 1D array of length n_features.
"""

'\ncoef_array of shape (n_features, ) or (n_targets, n_features)\nEstimated coefficients for the linear regression problem. \nIf multiple targets are passed during the fit (y 2D), this is a 2D array of shape (n_targets, n_features), \nwhile if only one target is passed, this is a 1D array of length n_features.\n'

In [10]:
reg.intercept_
"""
intercept_float or array of shape (n_targets,)
Independent term in the linear model. Set to 0.0 if fit_intercept = False.
"""

'\nintercept_float or array of shape (n_targets,)\nIndependent term in the linear model. Set to 0.0 if fit_intercept = False.\n'

In [11]:
reg.predict([[3000,3,40]]) # 3000	4.0	15	565000 Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

/Users/haleyk/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [12]:
reg.predict([[2500,4,5]]) # 2600	3.0	20	550000 Find price of home with 2500 sqr ft area, 4 bedrooms, 5 year old

/Users/haleyk/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])

In [13]:
# see how different factor change the price

LinearRegression()