In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('/Users/haleyk/Documents/Python_Libraries_for_ML/Python_Libraries_for_ML/Supervised Learning/Linear Regression/homeprices.csv.xls')

In [21]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [22]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [23]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms) # clean your data, Data Preprocessing: Fill NA values with median value of a column
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [24]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

"""
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(df[['area','bedrooms','age']], df.price)
"""

"\nfrom sklearn.linear_model import LinearRegression\nreg = LinearRegression()\nreg.fit(df[['area','bedrooms','age']], df.price)\n"

In [25]:
reg.coef_

"""
coef_array of shape (n_features, ) or (n_targets, n_features)
Estimated coefficients for the linear regression problem. 
If multiple targets are passed during the fit (y 2D), this is a 2D array of shape (n_targets, n_features), 
while if only one target is passed, this is a 1D array of length n_features.
"""

'\ncoef_array of shape (n_features, ) or (n_targets, n_features)\nEstimated coefficients for the linear regression problem. \nIf multiple targets are passed during the fit (y 2D), this is a 2D array of shape (n_targets, n_features), \nwhile if only one target is passed, this is a 1D array of length n_features.\n'

In [26]:
reg.intercept_
"""
intercept_float or array of shape (n_targets,)
Independent term in the linear model. Set to 0.0 if fit_intercept = False.
"""

'\nintercept_float or array of shape (n_targets,)\nIndependent term in the linear model. Set to 0.0 if fit_intercept = False.\n'

In [27]:
reg.predict([[3000,3,40]]) # 3000	4.0	15	565000 Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

/Users/haleyk/codebasics/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [28]:
reg.predict([[2500,4,5]]) # 2600	3.0	20	550000 Find price of home with 2500 sqr ft area, 4 bedrooms, 5 year old

/Users/haleyk/codebasics/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])

In [29]:
# see how different factor change the price